.footer {
  height: auto;
  padding: 2rem 1rem; /* Adjusted for mobile */
  background: #000;
  color: #fff;
}

.bottom {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom div {
  display: flex;
  flex-direction: column;
  width: 20%; /* Set width for consistent layout */
}

.bottom h4 {
  font-size: 1.3rem;
  margin: 1rem 0 0.8rem; /* Margin for spacing */
}

.bottom a {
  text-decoration: none;
  color: #fafafa;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
  transition: color 0.3s; /* Smooth color transition */
}

.bottom a:hover {
  color: #01959a; /* Change color on hover for links */
}

/* Responsive Design */
@media screen and (max-width: 850px) {
  .footer {
    padding: 2rem 1rem; /* Adjust padding for mobile */
  }

  .bottom div {
    width: 100%; /* Full width for mobile */
    margin-bottom: 1rem; /* Spacing between sections */
  }
}