   .slider-container {
    position: relative;
    width: 100%;
    margin: 0;
  }
  
  .dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2px;
  }
  
  .dot {
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    cursor: pointer;
    outline: none;
    transition: background 0.3s;
    /* display: inline-block; */
  }
  
  .dot.active {
    background: white;
  }